/*RESPONSIVE*/
/*Adaptacion pre-xs*/
@media screen and (max-width: 1295px){
    /*.nav{font-size: 1.8rem;} Vir si funciona el anidamiento*/
    nav{padding: 0 !important;}
    .nav li a{ 
            padding: 0.5rem;
            font-size: 1.8rem;
    }
    .iconMobileNav{ 
        width: 3.6rem;
        margin: 0.1rem;
        padding: 0;
    }
    .main_title-size{font-size: 4.5rem;}
    p{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
@media screen and (max-width: 905px){
    p{
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .carrusel{
        height: auto;
        width: 680px;
    }
    .video{
        width: 680px;
        height: 400px;
    }
}
/*Mobile*/
@media screen and (max-width: 767px ){
    .container-fluid{
        /*min-height: 720px;
        min-width: 440px;*/ 
        padding: 0rem;
    }
    .main{
        /*justify-content: space-around !important;*/
        align-items: center;
        height: auto;
        border-radius: 0rem;
        min-height: 80%;
        border-top: 4px solid rgba(3, 255, 3, 0.561);
        &_title-size{font-size: 4rem;}
    }
    .img-main{
        margin-bottom: 3rem;
    }
    .divTop{height: auto;}
    .cardImgInfo{
        height: auto;
        width: auto;
        justify-content: start !important;
        &_img{
            margin:0;
            padding: 0;
            height:150px;
        }
        &_info{height:auto}
    }
    .card-img-img{height: 95%;}
    /*Carrusel/Videos*/
    .carrusel{
        height: auto;
        width: 90%;
    }
    .video{
        width: 100%;
        height: 400px;
    }
    .footer{
        height: auto;
        &_rrss{
            margin: 0rem;
            p{margin: 0rem;}
            }
        &_info{margin: 1rem;}
    }
    h1{
        height: 24%;
        padding: 0.5rem;
    }
    h2{
        height: 10%;
        text-align: center;
    }
    p{
        margin: 0.5rem;
        line-height: 2.2rem;
    }
}
