$greenMain:rgba(3, 255, 3, 0.561);
$colorMain:rgb(255, 255, 255);
$bgMain:radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(45,45,45,1) 60%, rgba(0,0,0,1) 100%);
html{font-size: 62.5%;}
body{font-family: 'Pangolin', cursive;}
.container-fluid{
    padding: 0rem 1rem;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(45,45,45,1) 60%, rgba(0,0,0,1) 100%);
    min-height: 850px;
}
.header,.main,.footer{margin: 0px;}
.header{
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: $colorMain;
}
p{
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    line-height: 3.4rem;
}
/*NAV*/
.nav{
    font-size: 2.5rem;
    &-item{
    margin-top: 0.5rem;
    background-color: rgba(211, 212, 209, 0.192);
    border-radius: 3rem 1rem;
    border-bottom: 2px solid rgba(3, 255, 3, 0);
        a{
        color: black;
        text-transform: uppercase;
        }&:hover{
            background-color: rgba(211, 212, 209, 0.383);
            border-bottom: 2px solid $greenMain;
            transition: 0.5s;
                img{
                    transform: rotateZ(15deg);
                    transition: 1s;
                }
            }
        }
}
/*Main*/
.main{
    height: 75%;
    border-radius: 0 0 1.5rem 1.5rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid $greenMain;
    &_title-size{font-size: 5rem;}
    &_subTitle-size{font-size: 3rem;}
}
/*CARDS*/
.cardImgInfo{
    height: 86%;
    border: solid 2px black;
    border-radius: 2rem;
    background-color: rgba(148, 148, 148, 0.123);
}
.divTop{height: 5%;}
.footer{height: 12%;}
/*Levels*/
.cardLevels{
    height: auto;
    &_btn{
        @extend .nav-item; /*EXTEND*/
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }
    &_art{
        padding: 0.5rem;
        background-color: rgb(224, 246, 144); /*Error... con RGBA*/
        border-radius: 2rem;
        border: 2px solid rgba(170, 170, 170, 0.335);
        animation-duration: 1.2s;
        animation-name:show;
        &-green{background-color: rgb(88, 243, 127);}
        &-yellow{background-color: rgba(251, 251, 102, 0.835);}
        &-red{background-color: rgba(253, 82, 82, 0.794);}
    }   
}
@keyframes show{ /*Animacion APARECER*/
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.cardLevels .btn:hover{
    background-color: rgb(193, 251, 193);
    transition: 0.2s;
}
/*Carrusel*/
.w-3{width: 3%;}
.w-98{width: 98%;}
.h-98{height: 98%;}
.info-tab{
    background-color: rgba(0, 255, 170, 0.472);
    color: black;
}
/*Imagenes -Iconos*/
.iconMobileNav{ 
    width: 5rem;
    margin: 0.1rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: $greenMain;
}
.imgRrss{
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
}
.imgRrssContact{
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
}
.iconosFloat{
    top: 23rem;
    right: 0;
    z-index: 10;
    width: auto;
    .iconMobile{ 
        width: 6rem;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid rgba(3, 255, 3, 0.561);
        background-color: rgba(240, 255, 255, 0.568);
        border-radius: 50%;
    }
}
/*Footer*/
.footer{
    margin: 0.5rem 1rem;
    text-align: center;
    color: $colorMain;
    /*&_msj{
        border-bottom: dashed 3px white;
        border-right: dashed 3px white;
    }
    &_rrss{border-bottom: dashed 3px white;}*/
}
.exit{
    height: auto;
}
.exit_infoDs{
    text-align: center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin: 0rem;
    bottom: 0;
    span{
        color: rgb(252, 255, 49);
    }
}
@import "mediaQ";
